<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>demo board</title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>

  <body>
    <article
      class="vira-board"
      data-plugin_board='{"titles": ["در انتظار", "در حال انجام", "انجام شده"]}'
    >
      <section
        class="vira-board-col"
        data-plugin_board-tasks='[{"title": "1عنوان", "description": "توضیحات1"}, {"title": "2عنوان", "description": "توضیحات 2 "}]'
      ></section>

      <section class="vira-board-col" data-plugin_board-tasks="[]"></section>
      <section class="vira-board-col"></section>
    </article>

    <%= htmlWebpackPlugin.tags.bodyTags %>
    <script type="text/javascript">
      $(function () {});
    </script>
  </body>
</html>
